# Copyright (C) 2026 Synapxnet. Author: maoyo | Date: 2026-09-20 | Version: 1.0.1
# Security Level: INTERNAL | Department: 研发部 | Maintainer: maoyo | Email: synapxnet@gmail.com
node_modules
dist
.git
.env*
*.log
*.zip
.local
tests
